

.ui-widget, 
.ui-cell-editor,
.ui-widget-input,
.ui-widget input, 
.ui-widget select, 
.ui-widget textarea, 
.ui-widget button,
.ui-state-active ,
.ui-widget-content,
.ui-state-default,
.ui-datatable-content,
.ui-outputLabel,
.ui-widget .ui-widget {

    font-size: 9pt!important;
}



.ui-panelgrid .ui-panelgrid-cell {
    border-width: 0px!important;
    border-style: none;
}

