<!DOCTYPE html>
<html lang="en">
<body>
<h3>Hi ${name}, welcome to the Housing Association Management!</h3>

<div>
	Your login is <b>${email}</b></br>
	and your password is <b>${password}</b>
</div>
</body>
</html>