<!DOCTYPE html>
<html lang="en">
<body>
<h3>Hi ${user.name}, welcome to the Housing Association Management!</h3>

<div>
	Your login is <b>${user.email}</b>
	and your password is <b>${user.password}</b>
</div>
</body>
</html>